@using DataAccess.Models;
@model List<Student>

<h1>Info Student</h1>

<a asp-controller="Student" asp-action="Create" type="button" class="btn btn-secondary">
    Create
</a>

<div class="col-6 m-auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Age</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <th scope="row">@student.Id</th>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Age</td>
                    <td><a asp-controller="Student" asp-action="Details" asp-route-id="@student.Id">Detail</a></td>
                    <td><a asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a></td>
                    <td><a asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>